body {
  margin: 0;
  font-family: Arial;
  background: #020617;
  color: white;
}

.app {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111827;
  padding: 20px;
}

.sidebar p {
  cursor: pointer;
  margin: 10px 0;
}

.main {
  padding: 20px;
  flex: 1;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
}
